body{
  background-image: url('https://rare-gallery.com/thumbs/5404025-sea-ocean-lake-water-mist-fog-blue-water-dense-dense-mist-misty-soft-calm-calming-blue-cloudy-minimalism-free-stock-photos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}